{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4 class="hd1">Spotify Playlists</h4>
<div class="container-fluid d-flex mb-3 cnt">
<div class="card cad me-2" style="width: 12rem;">    
    <img src="../static/images/vikram.jpg" height="150px" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to</p>
    </div>
  </div>


</div>
</div> 
</div>         



<!-- 

<div class="hm indone container-fluid">
    <div class="row">
        <div class="cl col-lg-2">
            <h4>company</h4>
            <h6>about</h6>
            <h6>jobs</h6>
            <h6>for the record</h6>
        </div>
        <div class="col-lg-2">
            <h4>communities</h4>
            <h6>For artists</h6>
            <h6>developers</h6>
            <h6>advertising</h6>
            <h6>investors</h6>
            <h6>vendors</h6>
        </div>
        <div class="col-lg-2">
            <h4>usefull links</h4>
        </div>
        <div class="col-lg-6">

        </div>
    </div>

</div> -->




{% endblock %}