{% load static %}
<div class="side_row">
    <div class="s_one py-3 me-2 px-5">
        <div class="my-2">
            <a href=""><h6 style="color: white;"><img src="../static/images/Spotify.webp" class="rounded-circle me-1" width="27px" alt="">Spotify</h6></a></div>
            <div class="my-3">
            <a href=""><h6 style="color: white;"><img src="../static/images/iihome.svg" class="me-2" width="27px" alt="">Home</h6></a></div>
            <div class="my-2">
            <a href=""><h6 style="color: white;"><img src="../static/images/iisearch.svg" class="me-2" width="27px" alt="">Search</h6></a></div>
    </div>
    <div class="s-two">
        stt
    </div>
    <div class="s_three me-2">
        ff
        <div class="container d-flex">
         
        </div>
    </div>
</div>